# Need CONFIG_VT to be able to login via tty for next reboot...
CONFIG_FB=y
#CONFIG_VT=y

CONFIG_SECURITY_WRITABLE_HOOKS=n
#CONFIG_BPF_SYSCALL=n

#CONFIG_UBSAN_BOUNDS=y
#CONFIG_SLUB_DEBUG_ON=y
CONFIG_RESET_ATTACK_MITIGATION=y

CONFIG_SECURITY_SAFESETID=y

# Don't work with ZFS - ZFS-KMOD
CONFIG_TRIM_UNUSED_KSYMS=y
