CONFIG_BUG=y

CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_RODATA=y
CONFIG_STRICT_KERNEL_RWX=y

CONFIG_DEBUG_WX=y

CONFIG_STACKPROTECTOR=y
CONFIG_STACKPROTECTOR_STRONG=y

# CONFIG_DEVMEM is not set
CONFIG_STRICT_DEVMEM=y
CONFIG_IO_STRICT_DEVMEM=y

CONFIG_SYN_COOKIES=y

CONFIG_DEBUG_CREDENTIALS=y
CONFIG_DEBUG_NOTIFIERS=y
CONFIG_DEBUG_LIST=y
CONFIG_DEBUG_SG=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_SCHED_STACK_END_CHECK=y

CONFIG_SECCOMP=y
CONFIG_SECCOMP_FILTER=y

CONFIG_SECURITY=y
CONFIG_SECURITY_YAMA=y

CONFIG_HARDENED_USERCOPY=y
# CONFIG_HARDENED_USERCOPY_FALLBACK is not set
# CONFIG_HARDENED_USERCOPY_PAGESPAN is not set

CONFIG_SLAB_FREELIST_RANDOM=y
CONFIG_SLAB_FREELIST_HARDENED=y

CONFIG_SHUFFLE_PAGE_ALLOCATOR=y

CONFIG_SLUB_DEBUG=y

CONFIG_PAGE_POISONING=y
CONFIG_PAGE_POISONING_NO_SANITY=y
CONFIG_PAGE_POISONING_ZERO=y

CONFIG_INIT_ON_ALLOC_DEFAULT_ON=y
CONFIG_INIT_ON_FREE_DEFAULT_ON=y

CONFIG_INIT_STACK_ALL=y

CONFIG_VMAP_STACK=y

CONFIG_REFCOUNT_FULL=y

CONFIG_FORTIFY_SOURCE=y

CONFIG_SECURITY_DMESG_RESTRICT=y

# CONFIG_ACPI_CUSTOM_METHOD is not set
# CONFIG_COMPAT_BRK is not set
# CONFIG_DEVKMEM is not set
# CONFIG_PROC_KCORE is not set
# CONFIG_COMPAT_VDSO is not set
# CONFIG_KEXEC is not set
# CONFIG_HIBERNATION is not set
# CONFIG_INET_DIAG is not set
# CONFIG_BINFMT_MISC is not set
# CONFIG_LEGACY_PTYS is not set
# CONFIG_SECURITY_SELINUX_DISABLE is not set

CONFIG_PANIC_ON_OOPS=y
CONFIG_PANIC_TIMEOUT=-1

CONFIG_DEBUG_SET_MODULE_RONX=y
CONFIG_STRICT_MODULE_RWX=y
CONFIG_MODULE_SIG=y
CONFIG_MODULE_SIG_FORCE=y
CONFIG_MODULE_SIG_ALL=y
CONFIG_MODULE_SIG_SHA512=y
CONFIG_MODULE_SIG_HASH="sha512"
CONFIG_MODULE_SIG_KEY="certs/signing_key.pem"
