CONFIG_DEBUG_RODATA=y
CONFIG_DEBUG_RODATA_TEST=y

CONFIG_HARDENED_USERCOPY=y
# CONFIG_HARDENED_USERCOPY_PAGESPAN is not set

CONFIG_PAGE_POISONING=y
CONFIG_PAGE_POISONING_NO_SANITY=y
CONFIG_PAGE_POISONING_ZERO=y

CONFIG_HAS_IOMEM=y
CONFIG_REFCOUNT_FULL=y

# CONFIG_INET_DIAG is not set

# CONFIG_GCC_PLUGIN_STRUCTLEAK is not set
CONFIG_GCC_PLUGIN_STRUCTLEAK_BYREF_ALL=y

# CONFIG_GCC_PLUGIN_RANDSTRUCT is not set

CONFIG_TCG_TPM=y
CONFIG_TCG_TIS=y
