CONFIG_X86_64=y
CONFIG_DEFAULT_MMAP_MIN_ADDR=65536
# CONFIG_X86_MSR is not set

CONFIG_RANDOMIZE_BASE=y
CONFIG_RANDOMIZE_MEMORY=y

CONFIG_RANDOMIZE_KSTACK_OFFSET_DEFAULT=y

CONFIG_LEGACY_VSYSCALL_NONE=y

CONFIG_PAGE_TABLE_ISOLATION=y

# CONFIG_IA32_EMULATION is not set
# CONFIG_X86_X32 is not set
# CONFIG_MODIFY_LDT_SYSCALL is not set
