CONFIG_DEBUG_VIRTUAL=y
CONFIG_STATIC_USERMODEHELPER=y
CONFIG_EFI_DISABLE_PCI_DMA=y

# CONFIG_STACKLEAK_METRICS is not set
# CONFIG_STACKLEAK_RUNTIME_DISABLE is not set

CONFIG_INTEL_IOMMU_DEFAULT_ON=y

CONFIG_SECURITY_LOCKDOWN_LSM=y
CONFIG_SECURITY_LOCKDOWN_LSM_EARLY=y
CONFIG_LOCK_DOWN_KERNEL_FORCE_CONFIDENTIALITY=y

# CONFIG_KALLSYMS is not set
# CONFIG_X86_VSYSCALL_EMULATION is not set
# CONFIG_USER_NS is not set

CONFIG_ARCH_MMAP_RND_BITS=32
